* ,
* :: antes ,
* :: depois de {
  dimensionamento da caixa : caixa de borda;
}

:: selection {
  plano de fundo :  # 0c90a1 ;
  cor :  # fff ;
  sombra do texto : nenhum;
}

html {
  fonte :  1 em / 1.25 -apple-system , BlinkMacSystemFont ,  'Segoe UI' , Roboto , Oxygen ,
    Ubuntu , Cantarell ,  'Fira Sans' ,  'Droid Sans' ,  'Helvetica Neue' , Arial ,
    sans-serif ,  'Apple Color Emoji' ,  'Segoe UI Emoji' ,  'Segoe UI Symbol' ;
  plano de fundo :  # 151515 ;
  cor :  # fff8 ;
  altura :  100 % ;
}

corpo {
  margem :  0 ;
  preenchimento :  2 rem  0 ;
  altura :  100 % ;
  display : flex;
  direção flexível : coluna;
  alinhar-itens : centro;
  alinhamento de texto : centro;
}

body :: before ,
body :: after {
  conteúdo :  '' ;
  flex :  1 ;
}

h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
  tamanho da fonte :  1,5 em ;
  cor :  # fff ;
  margem :  0  0  0,5 em ;
}

h1 {
  cor :  # 18cfe7 ;
}

h2 {
  tamanho da fonte :  1,375 em ;
  margem superior :  2 rem ;
}

h3 {
  tamanho da fonte :  1,25 em ;
  margem superior :  2 rem ;
}

h4 {
  tamanho da fonte :  1,125 em ;
  margem superior :  2 rem ;
}

h5 ,
h6 {
  tamanho da fonte :  1 em ;
  margem superior :  2 rem ;
}

p {
  margem :  0,75 rem  0  0 ;
}

p : primeiro do tipo {
  margem :  0 ;
}

a ,
botão ,
entrada ,
textarea ,
select {
  propriedade de transição : fundo , borda , cor , sombra da caixa;
  duração da transição :  0,25 s ;
  função de tempo de transição : Easy-in-out;
}

# carregando {
  display : nenhum;
  margem :  1 rem auto;
  largura :  48 px ;
  altura :  48 px ;
  renderização de forma : automático;
}

form {
  plano de fundo :  # 0d0d0d ;
  preenchimento :  1,5 rem  2 rem ;
  margem :  1,5 rem  0  1,5 rem ;
  largura :  100 % ;
  display : flex;
  flex-wrap : wrap;
  flex-flow : coluna;
  gap :  0,75 rem ;
}

formulário  >  * {
  display : inline-flex;
  alinhar-itens : centro;
  gap :  0,75 rem ;
}

 etiqueta do formulário [ para ] {
  alinhamento de texto : esquerda;
  cursor : ponteiro;
}

@media ( largura mínima :  768 px ) {
  form {
    raio da borda :  4 px ;
    flex-flow : fileira;
    flex-wrap : wrap;
  }

  formulário  >  * {
    flex :  1  0  calc ( 50 %  -  0,75 rem );
  }
}

@media ( largura mínima :  980 px ) {
  form {
    largura máxima :  980 px ;
  }

  mesa {
    largura máxima :  980 px ;
  }
}

header {
  margem :  0  0  1 rem ;
}

corpo  >  div {
  display : grade;
  grade-fluxo automático : linha;
  gap :  0,75 rem ;
}

formulário  >  entrada ,
formulário  >  selecionar ,
form  >  textarea ,
. botões  >  botão ,
formulário  >  botão {
  altura mínima :  2,5 rem ;
}

formulário  >  entrada ,
form  >  textarea ,
formulário  >  selecione {
  fonte : herdar;
  altura da linha :  1 ;
  plano de fundo :  # 151515 ;
  borda :  1 px sólido # 151515 ;
  raio da borda :  3 px ;
  cor :  # fff ;
  preenchimento :  0,5 rem  1 rem ;
  esboço : nenhum;
}

input : -webkit-autofill ,
input : -webkit-autofill : hover ,
input : -webkit-autofill : focus ,
input : -webkit-autofill : active {
  -webkit-text-fill-color :  # fff ;
  transição : cor de fundo 9999 s atenuação em 0 s ;
  sombra da caixa :  0  0  0  9999 px  # 212121 inserido;
  raio da borda :  0 ;
}

form  >  input : hover ,
formulário  >  entrada : foco ,
form  >  textarea : hover ,
form  >  textarea : focus ,
form  >  select : hover ,
form  >  select : focus {
  cor da borda :  # 000 ;
  plano de fundo :  # 1d1d1d ;
}

form  >  input :: placeholder {
  cor :  # fff3 ;
}

form  >  textarea :: placeholder {
  cor :  # fff3 ;
}

formulário  >  selecione : inválido ,
formulário  >  selecione a  opção [ valor = '' ] {
  cor :  # fff3 ;
}

formulário  >  selecione a  opção : não ([ valor = '' ]) {
  cor :  # fff  ! importante ;
}

nav {
  raio da borda :  4 px ;
  plano de fundo :  # 0d0d0d ;
  preenchimento :  1,5 rem  2 rem ;
  margem :  1,25 em  0  1 rem ;
}

nav  a {
  margem :  0,375 em ;
  espaço em branco : nowrap;
}

a {
  cor :  # 18cfe7 ;
}

a : foco ,
a : hover {
  cor :  # 0c90a1 ;
}

. botões  >  botão ,
formulário  >  botão {
  alinhamento de texto : centro;
  decoração de texto : nenhum;
  justificar-conteúdo : centro;
  cor :  # fff ;
  plano de fundo :  # 0d0d0d ;
  preenchimento :  0,5 em  1 em ;
  tamanho da fonte :  0,875 em ;
  transformação de texto : maiúsculas;
  borda :  1 px sólido # 000 ;
  raio da borda :  2 px ;
  esboço : nenhum;
  cursor : ponteiro;
}

formulário  >  botão {
  plano de fundo :  # 050505 ;
}

formulário  >  botão : passar o mouse ,
formulário  >  botão : foco ,
. botões  >  botão : passar o mouse ,
. botões  >  botão : foco {
  borda :  1 px sólido # fff ;
  plano de fundo :  # ccc ;
  cor :  # 111 ;
  sombra da caixa :  0  2 px  12 px  -2 px  # 0008 ;
}

formulário  >  botão : ativo ,
. botões  >  botão : ativo {
  sombra da caixa : inserção 0  2 px  20 px  # 0008 ;
}

mesa {
  largura :  100 % ;
  margem superior :  1,5 rem ;
  colapso da fronteira : colapso;
}

table  thead  tr {
  borda :  1 px sólido # 232323 ;
  borda esquerda : nenhum;
  border-right : nenhum;
}

mesa  th {
  plano de fundo :  # 0d0d0d ;
  preenchimento :  0,75 rem  0,5 rem ;
  peso da fonte : negrito;
}

table  tbody  tr {
  plano de fundo :  # 1f1f1f ;
  borda inferior :  1 px sólido # 232323 ;
}

tabela  tbody  tr : n-ésimo filho ( ímpar ) {
  plano de fundo :  # 1b1b1b ;
}

table  td {
  preenchimento :  0,75 rem  0,5 rem ;
  peso da fonte : normal;
}

. checkbox {
  posição : relativa;
  display : bloco embutido;
}

input [ type = 'checkbox' ] {
  display : nenhum;
}

input [ type = 'checkbox' ] +  label {
  display : bloco;
  largura :  48 px ;
  altura :  22 px ;
  margem superior :  1 px ;
  recuo do texto :  -150 % ;
  clipe :  rect ( 0  0  0  0 );
  cor : transparente;
  seleção do usuário : nenhum;
}

input [ type = 'checkbox' ] +  label :: before ,
input [ type = 'checkbox' ] +  label :: após {
  conteúdo :  '' ;
  display : bloco;
  posição : absoluta;
  cursor : ponteiro;
}

input [ type = 'checkbox' ] +  label :: before {
  largura :  100 % ;
  altura :  100 % ;
  cor de fundo :  # ffffff44 ;
  raio da borda :  9999 em ;
  transição : cor de fundo com facilidade de 0,25 s ;
}

input [ type = 'checkbox' ] +  label :: após {
  topo :  -2 px ;
  esquerda :  0 ;
  largura :  28 px ;
  altura :  28 px ;
  raio da borda :  50 % ;
  cor de fundo :  # fff ;
  sombra da caixa :  0  0  2 px  rgba ( 0 ,  0 ,  0 ,  0,45 );
  propriedade de transição : cor de fundo , esquerda;
  duração da transição :  0,25 s ;
  função de tempo de transição : facilidade;
}

input [ type = 'checkbox' ] : verificado  +  rótulo :: antes de {
  cor de fundo :  # 00b7ff44 ;
}

input [ type = 'checkbox' ] : marcado  +  rótulo :: após {
  cor de fundo :  # 00b7ff ;
  esquerda :  24 px ;
}

ul {
  display : bloco;
  margem :  1 rem  0  0 ;
  preenchimento :  0 ;
  estilo de lista : quadrado;
  posição do estilo de lista : dentro;
}

li {
  preenchimento :  0 ;
}

formulário  >  entrada . negativo ,
formulário  >  entrada . erro ,
form  >  textarea . negativo ,
form  >  textarea . erro ,
formulário  >  selecione . negativo ,
formulário  >  selecione . erro {
  border-color :  # ff2222 ;
}

div . negativo ,
div . erro ,
p . negativo ,
p . erro {
  cor :  # ff2222 ;
  peso da fonte :  300 ;
}

div . positivo ,
div . sucesso ,
p . positivo ,
p . sucesso {
  cor :  # 3be91d ;
  peso da fonte :  300 ;
}

div . b negativo  ,
div . erro  b ,
p . b negativo  ,
p . erro  b ,
div . b positivo  ,
div . sucesso  b ,
p . b positivo  ,
p . sucesso  b {
  peso da fonte :  600 ;
}